<div class=" styleTitle">

  <div class="col-md-12">
    <h1 class="centerTitle">{{title}}</h1>
  </div>
  <div class="col-md-12 styleCart">
    <button mat-icon-button>
      <mat-icon>add_shopping_cart</mat-icon>
    </button>

  </div>


</div>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Carrito de Compras</ng-template>
      <div class="container">
        <div class="row row-cols-2">
          <div class="col-md-12">
            <mat-form-field appearance="legacy" class="block">
              <mat-label>Buscar Libro</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ingresar" #input />
            </mat-form-field>

          </div>

          <div class="col-12 col-md-12 pt-2">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 sizeTable">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>


              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>


              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> sku </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element" class="stylePrice"> {{element.price}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="centerAccion"> Acciones </th>
                <td mat-cell *matCellDef="let element" class="centerAccion">
                  <div>
                    <button mat-icon-button color="primary" matTooltip="Agregar a Carrito"
                      (click)="addBook(element,stepper)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="col-12 col-md-12 pt-3">

            <div class="next">
              <button mat-button (click)="next(stepper)">Siguiente</button>
            </div>
          </div>

        </div>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Carrito de Compras">
    <form [formGroup]="secondFormGroup">
      <mat-grid-list cols=2 #grid rowHeight="315px" gutterSize="15px">
        <mat-grid-tile *ngFor="let item of arrayBooks">
          <mat-card class="example-card">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.sku}}</mat-card-subtitle>
            <img mat-card-image src={{item.image}} alt="Imagen" width="100px">
            <mat-card-content>
              <p>{{item.description}}</p>

            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="editBook(item)">Editar</button>
              <button mat-button>Eliminar</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="row row-cols-2 pt-3">
        <div class="col-md-6  centerButton">
          <button mat-button matStepperPrevious>Atrás</button>
        </div>
        <div class="col-md-6 centerButton">
          <button mat-button matStepperNext>Siguiente</button>
        </div>

      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>LLenar formulario</ng-template>
    <div class="container">
      <div class="row row-cols-2">
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="block">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder=Ingresar [(ngModel)]="nombreClient">
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="block">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder=Ingresar>
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="block">
            <mat-label>Correo</mat-label>
            <input matInput placeholder=Ingresar>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="block">
            <mat-label>Número</mat-label>
            <input matInput placeholder=Ingresar>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-12">
          <mat-form-field appearance="legacy" class="block">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder=Ingresar [(ngModel)]="direccion">
            <mat-icon matSuffix>business</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="finalizar()">Finalizar</button>
    </div>
  </mat-step>
</mat-stepper>